<h1>Movies</h1>

<ul>
  <% @movies.each_with_index do |movie, index| %>
  <li>
    Title: <%= movie.title %> - Rating: <%= movie.rating %> <%= link_to "Show",
    movie_path(movie.id) %><%= link_to "  Edit", edit_movie_path(movie.id) %>
  </li>

  <% end %>
</ul>

<%= link_to "Create", new_movie_path %>
