
<h1>Movie Title</h1>
<h2><%= @movie.title %></h2>

<h3>Rating:  <span><%= @movie.rating %></span>         </h3>

<h2>Description</h2>
<p class="movie"><%= @movie.description %></p>

<div class="container">
<%= link_to "<< Back", :back, class: "btn btn-default" %>
<%= link_to "Edit Movie", edit_movie_path, class: "btn btn-default" %>
<%= link_to "Home", movies_path, class: "btn btn-default" %>
</div>